<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="nav-bar">
            <img src="/images/logo-mercado-liebre.svg" width="150" alt="mercado liebre logo">
        </div>
        <nav>
            <article class="topnav">
                <input type="text" placeholder="Buscar productos, marcas">
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="holding">
                <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
                <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>
            </article>
            <ul>
                <li><a href="/Ofertas">Ofertas</a></li>
                <li><a href="/TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/Creatucuenta">Creá tu cuenta</a></li>
                <li><a href="/Ingresa">Ingresá</a></li>
                <li><a href="/Miscompras">Mis compras</a></li>
            </ul>
            <div class="idcard">
                <i class="fa-regular fa-id-card"></i>
            </div>
            <div class="rightarrow">
                <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
            </div>
            <div class="shopbasket">
                <i class="fa-solid fa-basket-shopping"></i>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main class="home_main">
        <div>
            <img src="/images/img-home-banner.jpg" width="359" alt="banner home">
        </div>
        <section class="last_visit">
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="350" alt="cafetera">
            <p>$6700<br class="rebaja"><strong>40% OFF</strong><br><strong>Cafetera Moulinex</strong></p>
            <img src="/images/img-macbook-pro-2019.jpg" width="350" alt="macbook image">
            <p>$230.000<br class="rebaja">20% OFF<br><strong>MacBook Pro 2019</strong></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="350" alt="samsung s10">
            <p>$23.200<br>10% OFF<br><strong>Samsung Galaxy S10</strong></p>
            <img src="/images/img-tv-samsung-smart.jpg" width="350" alt="Smart Tv Samsung">
            <p>$70.500<br>5% OFF<br><strong>Smart TV Samsung 43''</strong></p>
        </section>
        <section class="offer_section">
            <h3>Sección de Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="350" alt="cafetera">
            <p>$6700<br>40% OFF<br><strong>Cafetera Moulinex</strong></p>
            <img src="/images/img-macbook-pro-2019.jpg" width="350" alt="macbook image">
            <p>$230.000<br>20% OFF<br><strong>MacBook Pro 2019</strong></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="350" alt="samsung s10">
            <p>$23.200<br>10% OFF<br><strong>Samsung Galaxy S10</strong></p>
            <img src="/images/img-tv-samsung-smart.jpg" width="350" alt="Smart Tv Samsung">
            <p>$70.500<br>5% OFF<br><strong>Smart TV Samsung 43''</strong></p>
        </section>
    </main>
    <footer>
        <section class="creditcard">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenes cuotas<br>sin interes con tarjeta o efectivo en puntos de<br>pago. Y siempre es
                seguro!</p>
        </section>
        <section class="gift">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde los $2500</h4>
            <p>Solo por estar registrado en Mercado<br>Liebre tenes envios gratis en miles de<br>productos. Es<br>un beneficio de
                Mercado Puntos.</p>
        </section>
        <section class="usersafe">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>No te gusta? Devolvelo! En MercadoLiebre<br>no hay nada que no puedas hacer<br>porque estas siempre protegid@.
            </p>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>