<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div>
            <img src="/images/logo-mercado-liebre.svg" width="350" alt="mercado liebre logo">
        </div>
        <nav>
            <h3>Lugar para poner la barra de busqueda</h3>
            <h3>Compra en cuotas y sin tarjeta de credito</h3>
            <ul>
                <li><a href="/Ofertas">Ofertas</a></li>
                <li><a href="/TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>

            <ul>
                <li><a href="/Creatucuenta">Crea tu cuenta</a></li>
                <li><a href="/Ingresa">Ingresa</a></li>
                <li><a href="/Miscompras">Mis compras</a></li>
            </ul>
        </nav>
        <div>
            <img src="/images/img-home-banner.jpg" width="347" alt="banner home">
        </div>
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="350" alt="cafetera">
            <p>$6700<br>40% OFF<br><strong>Cafetera Moulinex</strong></p>
            <img src="/images/img-macbook-pro-2019.jpg" width="350" alt="macbook image">
            <p>$230.000<br>20% OFF<br><strong>MacBook Pro 2019</strong></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="350" alt="samsung s10">
            <p>$23.200<br>10% OFF<br><strong>Samsung Galaxy S10</strong></p>
            <img src="/images/img-tv-samsung-smart.jpg" width="350" alt="Smart Tv Samsung">
            <p>$70.500<br>5% OFF<br><strong>Smart TV Samsung 43''</strong></p>
        </section>
        <section>
            <h3>Sección de Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="350" alt="cafetera">
            <p>$6700<br>40% OFF<br><strong>Cafetera Moulinex</strong></p>
            <img src="/images/img-macbook-pro-2019.jpg" width="350" alt="macbook image">
            <p>$230.000<br>20% OFF<br><strong>MacBook Pro 2019</strong></p>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="350" alt="samsung s10">
            <p>$23.200<br>10% OFF<br><strong>Samsung Galaxy S10</strong></p>
            <img src="/images/img-tv-samsung-smart.jpg" width="350" alt="Smart Tv Samsung">
            <p>$70.500<br>5% OFF<br><strong>Smart TV Samsung 43''</strong></p>
        </section>
    </main>
    <footer>
        <section>
            <h4>Paga con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es
                seguro!</p>
        </section>
        <section>
            <h4>Envio gratis desde los $2500</h4>
            <p>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <h4>Seguridad de principio a fin</h4>
            <p>No te gusta? Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estas siempre protegid@.
            </p>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </section>
    </footer>
</body>

</html>