<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | Ingresar</title>
    <script src="https://kit.fontawesome.com/54d31be2c4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <div class="nav-bar">
            <a href="/">
                <img src="/images/logo-mercado-liebre.svg" alt="mercado liebre logo">
            </a>
        </div>
        <nav>
            <article class="topnav">
                <input type="text" placeholder="Buscar productos, marcas">
                <div class="lupa">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="holding">
                    <h4>Comprá en cuotas y sin tarjeta de crédito</h4>
                    <i class="fa-solid fa-hand-holding-dollar"></i>
                </div>
            </article>
            <ul class="listas">
                <li><a href="/Ofertas">Ofertas</a></li>
                <li><a href="/TiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/Vender">Vender</a></li>
                <li><a href="/Ayuda">Ayuda</a></li>
            </ul>

            <ul class="lista2">
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="/login">Ingresá</a></li>
                <li><a href="/Miscompras">Mis compras</a></li>
            </ul>
            <div class="lista2">
                <div class="idcard">
                    <i class="fa-regular fa-id-card"></i>
                </div>
                <div class="rightarrow">
                    <i class="fa-sharp fa-solid fa-right-to-bracket"></i>
                </div>
                <div class="shopbasket">
                    <i class="fa-solid fa-basket-shopping"></i>
                </div>
            </div>
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <!-- <div class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner home">
        </div> -->
    </header>

    <main class="home_main">
        <section class="formulario_login">
            <form action="/" method="post">

                <label for="usuario"></label>
                <input type="text" id="usuario" name="usuario" placeholder="Ingresa tu usuario" required>

                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required>

                <button type="submit">Enviar</button>

        </section>
        </form>
    </main>
    <footer>
        <section class="creditcard">
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con MercadoLiebreCash tenes cuotas<br>sin interes con tarjeta o efectivo en puntos de<br>pago. Y siempre
                es
                seguro!</p>
        </section>
        <section class="gift">
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde los $2500</h4>
            <p>Solo por estar registrado en Mercado<br>Liebre tenes envios gratis en miles de<br>productos. Es<br>un
                beneficio de
                Mercado Puntos.</p>
        </section>
        <section class="usersafe">
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>No te gusta? Devolvelo! En MercadoLiebre<br>no hay nada que no puedas hacer<br>porque estas siempre
                protegid@.
            </p>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>