footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

footer p {
    line-height: 110%;
    font-size: 12px;
    position: relative;
    top: -10px;
}

footer h4 {
    line-height: 0%;
    font-size: 18px;
}

footer .creditcard {
    padding: 20px;
    margin-left: -40px;
}

footer .creditcard h4 {
    padding: 10px;
    margin-bottom: 10px;
}

footer .creditcard i {
    color: var(--colorCeleste);
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
    top: 8px;
}

footer .gift {
    padding: 20px;
    margin-left: -40px;
}

footer .gift h4 {
    padding: 10px;
    margin-bottom: 10px;
}

footer .gift i {
    color: var(--colorCeleste);
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
    top: 8px;
}
footer .usersafe {
    padding: 20px;
    margin-left: -40px;
}
footer .usersafe h4 {
    padding: 10px;
    margin-bottom: 10px;
}
footer .usersafe i {
    color: var(--colorCeleste);
    font-size: 30px;
    margin-bottom: 15px;
    position: relative;
    top: 8px;
}
footer .copyright {
    position: relative;
    top: 5px;
    margin-top: 20px;
    margin-left: 40px;
    text-align: start;
    padding: 10px;
}
footer .creditcard,
footer .gift,
footer .usersafe {
    position: relative;
    width: 90%;
    left: 25px;
}