* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

:root{
    --tipografiGeneral: 'Roboto';
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
}