header {
    padding: 20px;
    background-color: var(--colorAmarillo);
}
header .banner img {
    width: 425px;
    position: relative;
    left: -20px;
    bottom: -24px;
}

.holding h4 {
    font-size: 14px;
    margin-left: 45px;
    position: relative;
}

header .nav-bar img {
    padding: 13px;
    width: 180px;
}

header nav .topnav input {
    width: 175px;
    height: 24px;
    border: solid 1px black;
}

header ul li {
    list-style: none;
    margin-left: 40px;
}
header nav .offers{
    margin-bottom: 20px;
}

header ul li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

header nav ul li a {
    margin-left: -60px;
}
.lupa{
    border: 1px solid black;
    width: 20px;
    background-color: white;
    position: relative;
    top: -20px;
    right: -182px;
}
.lupa i{
    font-size: 17px;
    position: relative;
    left: 1px;
    bottom: 0px;
}

/* LISTAS */

header .holding i{
    position: relative;
    right: -28px;
    top: -18px;
}

.idcard {
    position: relative;
    margin-top: -20px;
    right: -75px;
    top: -35px;
}

.rightarrow {
    position: relative;
    margin-top: -16px;
    right: -30px;
    top: -20px;
}

.shopbasket {
    position: relative;
    margin-top: -19px;
    right: -62px;
    top: -2px;
}
.burger-menu{
    color: var(--colorGrisClaro);
    line-height: 10px;
    border: 2px transparent var(--colorAzul);
    border-radius: 10px;
    padding: 20px 20px 12px;
    margin: 10px;
    width: 44px;
    height: 44px;
    position: relative;
    right: -125px;
    background-color: var(--colorCeleste);
}
header nav .listas {
    display: none;
}
header .burger-menu{
    display: flex;
    justify-content: center;
    position: relative;
    right: -152px;
    top: 0px;
}
header .burger-menu i{
    font-size: 25px;
    font-weight: 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: -3px;
}
/* tablet */

@media (min-width:768px) {
    header .banner img {
        width: 768px;
    }
    header .burger-menu{
        display: none;
    }
    header nav .listas{
        display: contents;
    }
    header .holding h4{
          text-align: center;
    }
    header .holding i{
        position: relative;
        right: -238px;
        top: -18px;
    }
    header .nav-bar img {
        padding: 13px;
        width: 300px;
    }
}
@media (min-width:1024px) {
    header .banner img {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    header .burger-menu{
        display: none;
    }
    header nav .listas{
        display: contents;
    }
    header .holding h4{
          text-align: center;
    }
    header .holding i{
        position: relative;
        right: -370px;
        top: -18px;
    }
    header .nav-bar img {
        padding: 13px;
        width: 300px;
    }
}