header {
    padding: 20px;
    background-color: var(--colorAmarillo);
}

.holding h4 {
    font-size: 14px;
    margin-left: 45px;
    position: relative;
}

.nav-bar img {
    padding: 13px;
}

header nav article input {
    width: 175px;
}

header ul li {
    list-style: none;
    margin-left: 40px;
}
header nav .offers{
    margin-bottom: 20px;
}

header ul li a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

header nav ul li a {
    margin-left: -60px;
}
.lupa{
    border: 1px solid black;
    width: 20px;
    background-color: white;
    position: relative;
    top: 1px;
}
.lupa i{
    position: relative;
    left: 1px;
    bottom: 0px;
}

/* LISTAS */

header .holding i{
    position: relative;
    right: -28px;
    top: -18px;
}

.idcard {
    position: relative;
    margin-top: -20px;
    right: -75px;
    top: -35px;
}

.rightarrow {
    position: relative;
    margin-top: -16px;
    right: -30px;
    top: -20px;
}

.shopbasket {
    position: relative;
    margin-top: -19px;
    right: -62px;
    top: -2px;
}
.burger-menu{
    color: var(--colorGrisClaro);
    line-height: 10px;
    border: 2px transparent var(--colorAzul);
    border-radius: 10px;
    padding: 20px 20px 12px;
    margin: 10px;
    width: 44px;
    height: 44px;
    position: relative;
    right: -125px;
    background-color: var(--colorCeleste);
}
header .burger-menu{
    display: flex;
    justify-content: center;
    position: relative;
    right: -130px;
    top: 0px;
}
header .burger-menu i{
    font-size: 25px;
    font-weight: 10px;
    display: flex;
    align-items: center;
    position: relative;
    top: -3px;
}