.home_main h3{
    font-size: 24px;
}
.last_visit p{
    font-size: 18px;
}
.offer_section{
    font-size: 18px;
}
.rebaja strong{
    font-size: 16px;
    font-weight: 10px;
}
.last_visit p strong{
    font-size: 16px;
}