.home_main h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--colorGrisOscuro);
}

.home_main {
    width: 100%;
}

.home_main .last_visit,
.home_main .offer_section {
    width: 100%;
    background-color: var(--colorGrisClaro);
    /* align-items: flex-start; */
}

.home_main .offer_section .product_container,
.home_main .last_visit .product_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.home_main .offer_section .productbox,
.home_main .last_visit .productbox {
    background-color: white;
    position: relative;
    border: solid 1.5px #ebebeb;
    padding: 15px 15px;
    flex: 0 0 calc(100% - 20px);
    width: 90%;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: box-shadow 0.3s ease;
}

.home_main .offer_section .productbox:hover,
.home_main .last_visit .productbox:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.home_main .offer_section .productbox img,
.home_main .last_visit .productbox img {
    width: 90%;
    position: relative;
    left: 18px;
}


.offer_section p,
.last_visit p {
    font-size: 18px;
}

.offer_section span,
.last_visit span {
    position: relative;
    left: 10px;
}

.offer_section span .off,
.last_visit span .off {
    position: relative;
    left: 15px;
}

.offer_section .productbox span .product,
.last_visit .productbox span .product {
    display: none;
    position: relative;
    right: 0;
    padding: 10px;
    margin-top: 5px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease, visibility 3s ease, right 3s ease;
}

.home_main .offer_section .productbox:hover span .product,
.home_main .last_visit .productbox:hover span .product {
    display: block;
    opacity: 1;
    right: 20px;
    visibility: visible;
}

.home_main .offer_section .productbox span strong,
.home_main .last_visit .productbox span strong {
    font-size: 20px;
}

.home_main .offer_section .productbox span .off,
.home_main .last_visit .productbox span .off {
    padding: 0;
    margin-top: -20px;
    color: var(--colorVerde);
}

.home_main .last_visit .productbox .send_logo,
.home_main .offer_section .productbox .send_logo {
    padding: 10px;
    border: solid 1px #39b54a;
    border-radius: 60%;
    background-color: #FFF;
    height: 30px;
    width: 30px;
    position: relative;
    right: -280px;
    top: -15px;
}

.home_main .last_visit .productbox .send_logo i,
.home_main .offer_section .productbox .send_logo i {
    position: relative;
    top: -5px;
    color: var(--colorVerde);
    font-size: 16px;
    position: relative;
    left: -5px;
    cursor: default;
    transition: transform 2s ease;
}

.home_main .last_visit .productbox .send_logo i:hover,
.home_main .offer_section .productbox .send_logo i:hover {
    transform: rotate(360deg);
}

@media (min-width:768px) {

    .home_main .offer_section .product_container,
    .home_main .last_visit .product_container {
        padding: 6%;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        gap: 4px;
        /* margin: 0 auto; */
    }

    .home_main .last_visit .productbox,
    .home_main .offer_section .productbox {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 90%;
        flex-wrap: wrap;
        flex: 0 0 calc(50% - 10px);
        /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
        margin-bottom: 20px;
    }

    .offer_section .productbox span .product,
    .last_visit .productbox span .product {
        left: 10px;
    }

    .last_visit p {
        font-size: 18px;
        display: contents;
    }

    .offer_section p {
        font-size: 18px;
        display: contents;
    }

    .home_main .last_visit .productbox .send_logo i,
    .home_main .offer_section .productbox .send_logo i {
        position: relative;
        top: -5px;
        color: var(--colorVerde);
        font-size: 16px;
        position: relative;
        left: -5px;
    }

    .home_main .offer_section .productbox span strong,
    .home_main .last_visit .productbox span strong {
        position: relative;
        bottom: 30px;
        left: 20px;
    }

    .home_main .offer_section .productbox span .off,
    .home_main .last_visit .productbox span .off {
        position: relative;
        bottom: 30px;
        left: 50px;
    }

    .home_main .last_visit h3,
    .home_main .offer_section h3 {
        position: relative;
        left: 50px;
        top: 40px;
    }

    /* .home_main .offer_section .productbox .product br,
    .home_main .last_visit .productbox .product br {
        position: relative;
        bottom: 30px;
        left: 60px;
    } */
}

@media (min-width:1440px) {
    header .banner img {
        width: 1440px;
    }

    .home_main .last_visit {
        padding: 6%;
    }

    .home_main .productbox img {
        width: 800px;
    }

    .home_main .last_visit .productbox,
    .home_main .offer_section .productbox {
        flex: 0 0 calc(25% - 20px);
    }

    .last_visit p {
        font-size: 18px;
        display: contents;
    }

    .offer_section p {
        font-size: 18px;
        display: contents;
    }

    .home_main .last_visit {
        width: 1440px;
    }

    .home_main .offer_section {
        padding: 6%;
        width: 1440px;
    }

    /*  .offer_section span .off,
    .last_visit span .off {
        position: relative;
        left: -40px;
    } */
    .offer_section .productbox span .product,
    .last_visit .productbox span .product {
        left: 10px;
    }

    .home_main .last_visit .productbox .send_logo,
    .home_main .offer_section .productbox .send_logo {
        position: relative;
        left: 240px;
    }

    .home_main .last_visit .productbox .send_logo i,
    .home_main .offer_section .productbox .send_logo i {
        position: relative;
        left: -5px;
    }

    .home_main .offer_section,
    .home_main .last_visit {
        padding: 0;
    }

    .home_main .offer_section .product_container,
    .home_main .last_visit .product_container {
        padding-bottom: 10px;
    }

    .home_main .last_visit h3 {
        position: relative;
        left: 90px;
        top: 50px;
    }

    .home_main .offer_section h3 {
        position: relative;
        left: 90px;
        top: 40px;
    }
}