.home_main .formulario_register {
    background-color: var(--colorCelestin);
}

.home_main .formulario_register form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.home_main .formulario_register form input {
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    border: transparent;
}

.home_main .formulario_register form .datos input {
    width: 90%;
    position: relative;
    left: 10px;
    border: transparent;
    border-radius: 8px;
}

.home_main .formulario_register form .datos select {
    width: 90%;
    position: relative;
    left: 20px;
    border: transparent;
    border-radius: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
    padding: 5px;
}

.home_main .formulario_register form .btn_sr button {
    width: 60%;
    position: relative;
    left: 80px;
    border: transparent;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--colorCeleste);
    color: #ebebeb;
    padding: 2px;
    margin-bottom: 5px;
}

@media (min-width:768px) {
    .home_main .formulario_register form .datos input {
        left: 30px;
    }

    .home_main .formulario_register form .datos select {
        left: 40px;
        padding: 5px;
        margin-top: 10px;
    }

    .home_main .formulario_register form .btn_sr button {
        left: 190px;
        padding: 5px;
        margin: 5px;
        width: 50%;
    }
    .home_main .formulario_register .password input {
        width: 90%;
        position: relative;
        left: 30px;
    }
}

@media (min-width:1440px) {
    .home_main .formulario_register form .datos input {
        left: 60px;
    }

    .home_main .formulario_register form .datos select {
        left: 70px;
        padding: 5px;
        margin-top: 10px;
    }

    .home_main .formulario_register form .btn_sr button {
        width: 300px;
        padding: 10px;
        left: 400px;
    }
    .home_main .formulario_register .password input {
        width: 90%;
        position: relative;
        left: 60px;
    }
}
